body{
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid{
  color: #2bb673;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.box{
  background-color: #162944;
  width: auto;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
  box-shadow: inset 0 0 0 73px #D80286;
  width: auto;
  height: 22vh;
  transition: 0.5s;
}



.icon{
  font-size: 50px;
  color: aquamarine;
}